@import url(https://cdn.jsdelivr.net/gh/moonspam/Noto sans KR@1.0/Noto sans KR.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('normalize.css');
@font-face {
    font-family: "DS-Digital";
    src: url("../fonts/DS-DIGI.eot"); /* IE9 Compat Modes */
    src: url("../fonts/DS-DIGI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/DS-DIGI.woff") format("woff"), /* Modern Browsers */
      url("../fonts/DS-DIGI.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
/* noto-sans-kr-regular - KR */
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/NotoSans-Thin.eot?") format("eot"),
    url("../fonts/NotoSans-Thin.otf") format("opentype"),
    url("../fonts/NotoSans-Thin.woff") format("woff"),
    url("../fonts/NotoSans-Thin.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/NotoSans-Light.eot?") format("eot"),
    url("../fonts/NotoSans-Light.otf") format("opentype"),
    url("../fonts/NotoSans-Light.woff") format("woff"),
    url("../fonts/NotoSans-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/NotoSans-DemiLight.eot?") format("eot"),
    url("../fonts/NotoSans-DemiLight.otf") format("opentype"),
    url("../fonts/NotoSans-DemiLight.woff") format("woff"),
    url("../fonts/NotoSans-DemiLight.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
    src: url(" toSans-Regular.eot?") format("eot"),
    url("../fonts/NotoSans-Regular.otf") format("opentype"),
    url("../fonts/NotoSans-Regular.woff") format("woff"),
    url("../fonts/NotoSans-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NotoSans-Medium.eot?") format("eot"),
    url("../fonts/NotoSans-Medium.otf") format("opentype"),
    url("../fonts/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSans-Black.eot?") format("eot"),
    url("../fonts/NotoSans-Black.otf") format("opentype"),
    url("../fonts/NotoSans-Black.woff") format("woff"),
    url("../fonts/NotoSans-Black.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSans-Bold.eot?") format("eot"),
    url("../fonts/NotoSans-Bold.otf") format("opentype"),
    url("../fonts/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSans-Bold.woff2") format("woff2");
  }


html{
    width: 100%;
}
body{
    /* min-width: 1240px; */
    overflow-x: hidden;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR';
}

button{
    cursor:pointer;
}

.top_section{
    padding-top: 80px;
}
header{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
}

body{
    font-family: 'Noto sans KR' !important;
    font-size: 16px; 
}
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none !important;
    color: inherit;
}
p{
  margin: 0 !important;
}
.dropdown-menu {
  font-size: 16px !important;
}

.navbar-default{
    color: #fff;
    background-color: #ccc6c6;
    border-color: #aca1a2;
    }
    .navbar-default .navbar-nav > li > a{
        color:#fff;
    }
    .navbar-default .navbar-nav > .dropdown > a .caret{
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
    .navbar-default .navbar-brand{
        color:#fff;
    }
    .menu-large {
      position: static !important;
    }
    .megamenu{
      padding: 20px 0px;
      width:100%;
    }
    .megamenu> li > ul {
      padding: 0;
      margin: 0;
    }
    .megamenu> li > ul > li {
      list-style: none;
    }
    .megamenu> li > ul > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333333;
      white-space: normal;
    }
    .megamenu> li ul > li > a:hover,
    .megamenu> li ul > li > a:focus {
      text-decoration: none;
      color: #262626;
      background-color: #f5f5f5;
    }
    .megamenu.disabled > a,
    .megamenu.disabled > a:hover,
    .megamenu.disabled > a:focus {
      color: #999999;
    }
    .megamenu.disabled > a:hover,
    .megamenu.disabled > a:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      cursor: not-allowed;
    }
    .megamenu.dropdown-header {
      color: #428bca;
      font-size: 18px;
    }
    @media (max-width: 767px) {
      .megamenu{
        margin-left: 0 ;
        margin-right: 0 ;
      }
      .megamenu> li {
        margin-bottom: 30px;
      }
      .megamenu> li:last-child {
        margin-bottom: 0;
      }
      .megamenu.dropdown-header {
        padding: 3px 15px !important;
    
      }
      .navbar-nav .open .dropdown-menu .dropdown-header{
        color:#fff;
      }
    }

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }

.navbar-static-top{
  background: #fff;
}
.navbar-static-top > .container{
    text-align: center;
    /* padding: 25px 0 0; */
}

.navbar{
    background: #fff !important;
    border: none !important;
    box-shadow: 0 0 !important;
    margin: 0 !important;
}
.dropdown-menu{
    border: none !important;
    box-shadow: 0 0 !important;
}
.dropdown-menu > li{
  width: 28%;
  padding: 25px 0;
}
.dropdown-menu > li.sub-dister{
  width: 40%;
}
.top-nav{
    float: right !important;
}
.top-nav > li > a{
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 0 24px;
  line-height: 78px;
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  font-weight: 700;
  color: #000 !important;
}
.top-nav > li a{
  color: #000 !important;
}
.m-img-wrap{
  width: 40px;
  height: 29px;
  overflow: hidden;
  margin: 0 auto 10px;
}
.m-img-wrap img{
  display: block;
  height: 29px;
  margin: 0 auto;
}
.sub-list ul{
  padding: 0;
}
.dropdown.menu-large{
  line-height: 36px;
}
.wt-li:hover > a{
  color: #263997 !important;
}

.di-li:hover > a,
.bd-li:hover > a,
.mg-li:hover > a{
  color: #e12f29 !important;
}
.on-li:hover > a{
  color: #00aa58 !important;
}

.dropdown-menu > li > .menu-hv:hover > a{
  line-height: 20px;
  color: #e12f29 !important;
}
.wt-li > .dropdown-menu > li > .menu-hv:hover > a{
  color: #263997 !important;
}
.on-li > .dropdown-menu > li >.menu-hv:hover > a{
  color: #00aa58 !important;
}
.sub-list > ul > li > a:hover{
  color: #e12f29 !important;
  background: #fff !important;
}

.navbar-default .navbar-nav>li>a {
  display: block;
  width: 100%;
  line-height: 50px;
}



/* 메인 섹션 시작 */
section{
  padding: 50px 0 0;
}
main{
  width: 100%;
  padding: 80px 0 0;
  background: url(../images/background-main.jpg)no-repeat;
  background-size: cover;
}
.main-section{
  width: 100%;
}


.flex{
  display: flex;
}
.flex-box{
  display: flex;
  align-items: center;
}
.flex-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section > .row > .col-sm-6{
  border-radius: 10px;
  width: 47%;
  height: 452px;
  background: lightgreen;
  overflow: hidden;
  padding: 0;
}
.event-map{
  position: relative;
}
.map-title{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #258fff;
  text-align: center;
  padding: 8px 12px;
  border-radius: 10px;
  z-index: 500;
}
.nav-tabs > li > a{
  border: 1px solid #fff !important;
  margin-right: 0 !important;
  font-size: 11px;
}
.map-title > p {
  color: #fff;
  margin: 0;
}
.map-wrapper{
  width: 100%;
  height: 377px;
  position: relative;
}
.map-wrapper > .event-over-more{
  position: absolute;
  bottom: -5px;
  right: 10px;
  color: #000;
  z-index: 1000
}
.main-tabs{
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main-tabs li{
  width: 25%;
}
.main-tabs li:hover a{
  background: #fff !important;
  box-shadow: 0 0 !important;
  border: 1px solid #fff !important;
}
.nav.main-tabs > li > a {
  border-radius: 0 0 0 0 !important;
  padding: 3px !important;
}
.main-tabs > li .flex{
  height: 30px;
  align-items: center;
}
.main-tabs > li .flex .col-sm-1{
  width: 2%;
}
.main-tabs > li .flex svg{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.main-tabs li .col-sm-10{
  color: #000;
}
.main-tabs li.active .col-sm-10{
  color: #fff;
}

#weather-tab{
  width: 100%;
  text-align: center;
}
#weather-tab > li {
  width: 16.6667%;
  background: #fff;
}
#weather-tab > li.active{
  background: #0e6efe;
}
#weather-tab > li > a{
  color: #777;
  padding: 13px 15px;
  font-size: 16px;

}
#weather-tab > li.active > a{
  background: #0e6efe;
  color: #fff;
  border-color: #0e6efe !important;
}

.main-right > .tab-content > .tab-pane{
  position: relative;
  width: 100%;
  height: 402px;
  background-size: cover !important;
}

.main-right #tab1{
 /*  background: url(../images/bg_TMPRT_day.jpg)no-repeat; */
}

.main-right #tab2{
  background: url(../images/bg_AIR.jpg)no-repeat;
}

.main-right #tab3{
  background: url(../images/bg_DUST.jpg)no-repeat;
}

.main-right #tab4{
  background: url(../images/bg_YLWSND.jpg)no-repeat;
}

.main-right #tab5{
  background: url(../images/rainy.jpg)no-repeat;
}

.main-right #tab6{
  background: url(../images/frozen.jpg)no-repeat;
}

.weather-box{
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-radius: 100%;
}

.weather-box > .flex-box{
  justify-content: center;
  margin-top: 15% !important;
  padding-top: 30% !important;
}
.weather-box > .flex-box > span {
  font-size: 20px;
  margin-left: 5px;
}
.weather-box > p{
  font-size: 20px;
  margin-bottom: 10px !important;
}
.weather-box p,
.weather-box span {
  color: #fff;
}


.weather-conts{
  margin-top: 1em !important;
}
.weather-conts .col-sm-2 p{
  color: #fff;
  font-size: 16px;
}
.weather-conts .more{
  position: absolute;
  bottom: -15px;
  right: 10px;
  color: #000;
}
.weather-table{
  text-align: center;
  position: absolute !important;
  bottom: 0;
}
.weather-table thead{
  background: #428bca;
}
.weather-table tr{
  height: 42px;
}
.weather-table th{
  text-align: center;
  font-weight: 500;
  color: #fff;
}
.weather-table tbody{
  background: #fff;
  color: #000;
}

.tab-button-outer {
  display: none;
}

.tab-select-outer{
  padding: 10px;
  background: #0e6efe;
}
.tab-select-outer > select{
  width: 100%;
  outline: none ;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}
.weather-circle > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-circle .circle{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  padding-top: 15%;
}
.circle > p {
  color: #fff;
  margin: 0;
}
.status.good{
  color: #1bc6ff;
}
.status.normal{
  color: #08d15b;
}
.status.bad{
  color: #ff5c58;
}
.status.vbad{
  color: #7376ff;
}
.circle.good{
  background: #1bc6ff;
}
.circle.normal{
  background: #08d15b;
}
.circle.bad{
  background: #ff5c58;
}
.circle.vbad{
  background: #7376ff;
}

.weather-box .circle p{
  text-align: center;
}
.weather-box.box-mg{
  margin-top: 30px;
  padding-top: 50px;
  text-align: center;
}
.weather-circle{
  margin-top: 45px;
}

.status-count > em{
  font-size: 12px;
}

/* 우측 탭 메뉴 지도영역 */
.rainy-map{
  background: url(../images/main_rainy-map.png)no-repeat;
  height: 412px;
  background-position: center;
  position: relative;
}
.snowy-map{
  background: url(../images/main_rainy-map.png)no-repeat;
  background-position: center;
}
.rainfall-title, .rainfall-content-title{
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.rainfall-content-title{
  display: block;
  text-align: center;
}
.map-title-1{
  position: absolute;
  top: 23%;
  left: 29%;
}
.map-title-2{
  position: absolute;
  top: 20%;
  left: 38%;
}
.map-title-3{
  position: absolute;
  top: 19%;
  left: 53%;
}
.map-title-4{
  position: absolute;
  top: 32%;
  left: 62%;
}
.map-title-5{
  position: absolute;
  top: 42%;
  left: 72%;
}
.map-title-6{
  position: absolute;
  top: 63%;
  left: 68%;
}
.map-title-7{
  position: absolute;
  top: 53%;
  left: 58%;
}
.map-title-8{
  position: absolute;
  top: 37%;
  left: 50%;
}
.map-title-9{
  position: absolute;
  top: 38%;
  left: 35%;
}
.map-title-10{
  position: absolute;
  top: 40%;
  left: 22%;
}
.map-title-11{
  position: absolute;
  top: 52%;
  left: 49%;
}
.map-title-12{
  position: absolute;
  top: 76%;
  left: 52%;
}

/* 메인 슬라이드 영역 slick.css */

.main-sevice{
  margin: 30px 0 !important;
}
#product__slider{
  display: flex;
  height: 248px;
}
#product__slider > div{
  width: 25%;
  height: 100%;
}
#product__slider img{
  /* width: 100%; */
}
.main-sevice .slide > img{
  width: 100%;
}
.video-container{
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
.main-sevice .video-slide{
  position: relative;
    margin: 0 auto;
    height: 250px;
}

.main-sevice .video-slide video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__slider-main{
  position: relative;
  height: 240px;
}


.main-sevice button.slick-prev{
  position: absolute;
  z-index: 99;
  left: 15px;
  top: 90%;
}

.main-sevice button.slick-next {
  color:transparent;
  background:rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 0px;
  width:25px;
  height: 25px;
  transition: all 0.3s;

}
.main-sevice button.slick-prev {
  color:transparent;
  font-size: 0px;
  background:rgba(0, 0, 0, 0.2);
  border: none;
  width:25px;
  height: 25px;
  transition: all 0.3s;
}

.main-sevice button.slick-prev:before {
  content: "\e93b";
  font-family: 'xeicon';
  color:#fff !important;
  font-size: 20px !important;
}
.main-sevice .slick-next{
  position:absolute;
  z-index: 99;
  top: 90%;
  right: 15px;
}

.main-sevice button.slick-next:before {
  content: "\e93e";
  font-family: 'xeicon';
  color:#fff !important;
  font-size: 20px !important;
}


.main--section--2{
  padding: 0 15px;
}

.main--section--3{
  padding: 10px 13px;
}

.banner-slide{
  border-bottom: 1px solid #ccc;
  padding: 5px 0 !important;
}
.logoBanner button{
  position: absolute;
  z-index: 99;
  background: #fff;
  border: none;
}
.logoBanner button.slick-prev{
  right: -20px;
  top: 10px;
  z-index: 99;
  color:transparent;
  font-size: 0px;
}
.logoBanner button.slick-next{
  right: -100px;
  top:10px;
  z-index: 99;
  color:transparent;
  font-size: 0px;
}

.logoBanner button.slick-prev:before{
  content: "\e93b";
  font-size: 16px;
  font-family: 'xeicon';
  font-weight: bold;
  color:#000;
}
.logoBanner button.slick-next:before{
  content: "\e93e";
  font-size: 16px;
  font-family: 'xeicon';
  font-weight: bold;
  color:#000;
}
/* .logoBanner img{
  margin: 0 auto;
} */

.footer-logo{

  background-color: #fff;
}
section .container-fluid{
  border-top: 1px solid #ccc;
}

.footer-slide-btn{
  position: absolute;
  right: 24px;
  top: 20px;
  z-index: 99;
  text-align: center;
}

.footer-slide-btn button{
  background-color: #fff;
  border: none;
  font-size: 17px;
  position: absolute;
  right: 20px;
  top: -7px;
}
.play-f-btn{
  display: none !important;
}
.wrap-map-title {position: absolute;left: -94px;bottom: 30px;width: 200px;height: 132px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '?뗭?', sans-serif;line-height: 1.5;}
.wrap-map-title * {padding: 0;margin: 0;}
.wrap-map-title .wrap-map-info {/* width: 210px; */height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap-map-title .wrap-map-info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.wrap-map-info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 13px;font-weight: bold;}
.wrap-map-info .close {
    position: relative;
    top: -19px;
    right: -162px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");

}
.info-safe-map{
    position: relative;
    top: 10px;
    left: 150px;
}
.info-map-cctv{
    position: relative;
    top: 30px;
    left: 40px;
}

.wrap-map-info .close:hover {cursor: pointer;}
.wrap-map-info .body {position: relative;overflow: hidden; display: flex; justify-content: space-between;}
.wrap-map-info .desc {position: relative;height: 75px; padding: 10px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.wrap-map-info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.wrap-map-info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;}
.wrap-map-info .link {color: #5085BB;}
.wrap-map-info .title{

    line-height: 20px;;
}
.wrap-map-info .body-image{
    width: 135px;
    height: 85px;
    /* border: 3px solid #000; */
    margin: 3px 3px 0 0;
}

.safe-map-box-title{
    display:flex;
}
.main-tabs li > a .col-sm-10{
  min-width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.clear-fix{
  clear: both;
}

/* 메인테이블 */
.table-tabs{
  position: absolute;
  width: 22px;
  height: 110px;
  padding: 3px 1px;
  line-height: 20px;
  text-align: center;
  background: #0e6efe;
  cursor: pointer;
  top: 141px;
  right: 0;
  border-radius: 5px 0 0 5px;
}
.table-close{
  position: absolute;
  width: 22px;
  height: 110px;
  padding: 3px 1px;
  line-height: 20px;
  text-align: center;
  background: #0e6efe;
  cursor: pointer;
  top: 141px;
  left: -22px;
  border-radius: 5px 0 0 5px;
}
.table-close{
  display: none;
}
.table-close p{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.table-tabs p{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.table-row{
  position: absolute;
  right: -1px;
  top: 0;
  width: 100%;
}
.table-row table{
  width: 100%;
  height: 100%;
  margin-left: 400px;
  text-align: center !important;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-collapse: collapse;
}
.table-row table tr{
  /* padding: 10px 0; */
  height: 28px;
  font-size: 12px;
}
.table-row th{
  text-align: center;
  color: #fff;
  background: #34495e;
  height: 37px;
}
.table-row td{
  font-size: 10px;
  color: #000;
  background: #fff;
}

/* 푸터 */
footer{
  padding: 1.5em 0;
}
footer .container{
  padding: 15px !important;
}
footer p{
  color: #777;
}
footer .col-sm-2{
  text-align: right;
}
.container-fluid{
  padding: 0;
}

@media(max-width: 1320px){
  .logoBanner .slick-arrow{
    display: none !important;
  }
  .footer-slide-btn{
    display: none !important;
  }
  .footer-logo .col-sm-11{
    width: 100% !important;
  }
  .footer-logo .col-sm-1{
    width: 0% !important;
  }
  #weather-tab > li > a{
    font-size: 12px;
  }
  .main-right > .tab-content > .tab-pane{
    height: 407px;
  }
  #product__slider{
    height: 185px;
  }
  .table-row{
    display: none;
  }
  .logoBanner button{
    display: none;
  }
  .owl-pause{
    display: none;
  }
}
@media(max-width:1319px){
  .main-sevice .video-slide video{
    height: 75%;
  }
}
@media(min-width: 1321px){
  .navbar-static-top > .container{
    width: 1240px !important;
  }
  .navbar-static-top .top-nav > li {
    margin: 0 15px;
  }
  .sub-weather{
    margin-left: 28.5% !important;
  }
  .sub-ong{
    margin-left: 46% !important;
  }
  .sub-board{
    margin-left: 55.3% !important;
  }
  .sub-msg{
    margin-left: 54.5% !important;
  }
}

@media(max-width: 1200px){
  .main-right .nav > li > a{
    height: 40px;
    font-size: 12px;
  }
  .main-tabs > li > a{
    padding: 10px 5px !important;
  }
  .main-right > .tab-content > .tab-pane{
    height: 412px;
  }
}

@media(max-width: 1319px) and (min-width:992px){
  .map-title-1{
    left: 22%;
  }
  .map-title-7{
    left: 60%;
  }
  .map-title-10{
    left: 12%;
  }
  .main-sevice .slick-next{
    top:60%;
  }
  .main-sevice button.slick-prev{
    top: 60%;
  }
  
}
@media(max-width:992px) and (min-width:768px){
  .rainy-map{
    background-size: 140% !important;
  }
  .map-title-1{
    top: 26%;
    left: 20%;
  }
  .map-title-2{
    top: 25%;
    left: 33%;
  }
  .map-title-3{
    top: 24%;
  }
  .map-title-4{
    top: 34%;
    left: 64%;
  }
  .map-title-5{
    left: 81%;
  }
  .map-title-6{
    top: 59%;
    left: 73%;
  }
  .map-title-7{
    top: 51%;
    left: 60%;
  }
  .map-title-8{
    top: 38%;
    left: 49%;
  }
  .map-title-9{
    left: 32%;
  }
  .map-title-10{
    left: 10%;
  }
  .map-title-11{
    top: 51%;
    left: 47%;
  }
  .map-title-12{
    top: 70%;
  }
  .main-sevice .slick-next{
    top:65%;
  }
  .main-sevice button.slick-prev{
    top:65%;
  }
  .map-wrapper > .event-over-more{
    bottom: 10px;
  }
  .main-sevice .video-slide video{
    height: 58%;
  }
  #product__slider{
    height: 148px;
  }
}
@media (max-width: 767px) and (min-width: 640px){
  .main-right .nav > li > a{
    line-height: 30px;
  }
}
@media (max-width:540px) and (min-width:414px){
  .rainy-map{
    background-size: 140% !important;
  }
  .map-title-1{
    left: 19%;
  }
  .map-title-2{
    left: 34%;
  }
  .map-title-4{
    left: 65%;
  }
  .map-title-5{
    left: 81%;
  }
  .map-title-6{
    left: 74%;
  }
  .map-title-7{
    left: 60%;
  }
  .map-title-9{
    left: 33%;
  }
  .map-title-10{
    left: 11%;
  }
}
@media (max-width:413px) and (min-width:320px){
  .rainy-map{
    background-size: 140% !important;
  }
  .rainfall-title, .rainfall-content-title{
    font-size: 11px;
  }
  .map-title-1{
    top:28%;
    left:19%;
  }
  .map-title-2{
    top: 26%;
    left: 33%;
  }
  .map-title-3{
    top: 25%;
    left: 53%;
  }
  .map-title-4{
    top: 34%;
    left: 65%;
  }
  .map-title-5{
    left: 81%;
  }
  .map-title-6{
    top: 60%;
    left: 73%;
  }
  .map-title-7{
    top: 50%;
    left: 60%;
  }
  .map-title-8{
    top: 38%;
    left: 50%;
  }
  .map-title-9{
    top: 39%;
    left: 31%;
  }
  .map-title-10{
    top: 43%;
    left: 10%;
  }
  .map-title-11{
    top: 51%;
    left: 48%;
  }
  .map-title-12{
    top: 71%;
  }
}
@media(max-width:360px) and (min-width:280px){
  .map-title-1{
    top: 30%;
  }
  .map-title-2{
    top: 29%;
  }
  .map-title-3{
    top: 29%;
  }
  .map-title-4{
    top: 36%;
  }
  /* .map-title-5{} */
  .map-title-6{
    top: 58%;
  }
  /* .map-title-7{} */
  .map-title-8{
    top: 40%;
    left: 49%;
  }
  /* .map-title-9{} */
  /* .map-title-10{} */
  .map-title-11{top: 50%;}
  .map-title-12{top: 66%}
}

@media (min-width: 992px){
  .map-wrapper > .event-over-more{
    bottom: 9px;
  }
  .weather-conts .more{
    bottom: -25px;

  }
}
@media (max-width: 992px){
  .main-right .nav > li > a{
    height: 50px;
  }
  .navbar-default .navbar-nav>li>a{
    font-size: 15px;
  }
  .main-right > .tab-content > .tab-pane{
    height: 402px;
  }
  .main-right .weather-conts .more{
    bottom: -25px;
  }
  .main--section--2{
    padding: 0 10px;
  }
  #product__slider > div{
    /* width: 33.3333%; */
  }
  .main-tabs .flex{
    align-items: center;
  }
  .weather-circle .circle{
    width: 50px;
    height: 50px;
    font-size: 12px;
    padding-top: 9%;
    line-height: 1.5em;
  }
  .weather-box.box-mg{
    margin-top: 50px;
  }
}

@media screen and (min-width: 640px) {
  .tab-button-outer {
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
}
@media screen and (max-width: 640px){
  .weather-table{
    bottom: 9px;
  }
  .main-right .weather-conts .more{
    bottom: -25px;
  }
  main{
    padding: 30px 0 75px;
  }
}
@media(max-width:600px) and (min-width:320px){
  main{
    padding: 30px 0 30px;
  }
}

@media screen and (min-width: 768px){
  .navbar-static-top .navbar-collapse.collapse{
    padding: 10px 0;
  }
  .top-nav .dropdown-menu{
    top: 90%;
  }
  .top-nav > li > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #e12f29;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  .top-nav > li > a:hover::after{
    transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform-origin: bottom center;
  }
  .wt-li > a::after{
    background-color: #263997 !important;
  }
  .on-li > a::after{
    background-color: #00aa58 !important;
  }
  .main-section .row.flex-side{
    margin: 0 -10px !important;
  }
}

@media(max-width:767px){
  .main-section > .flex-side{
    flex-direction: column;
  }
  .navbar-brand>img{
    width: 80%;
  }
  .main-right{
    margin-top: 30px;
  }
  .map-wrapper {
    width: 100%;
    height: 402px;
  }
  .main-section > .row > .col-sm-6{
    width: 90%;
  }
  .navbar-brand{
    padding: 15px 15px !important;
  }
  .map-wrapper > .event-over-more{
    bottom: 5px;
  }
  #product__slider{
    height: auto;
  }
  #product__slider > div{
    width: 25%;
    margin: 0 auto;
    height: auto;
  }

  .swiper-box{
    height: 100%;
  }
  .video-container{
    height: 100%;
  }
  .main-sevice .video-slide{
    height: 100%;
  }
  .main-sevice .video-slide video{
    height: 100%;
  }
  .main--section--2{
    padding: 0 36px;
  }
  
  .navbar-collapse.collapse.in{
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .navbar-static-top > .container{
    padding: 0;
  }
  .nav.navbar-nav.top-nav{
    width: 100%;
    margin: 0 !important;
  }

  .dropdown-menu.megamenu > .container{
    width: 100%;
  }
  .sub-dister{
    display: flex;
    flex-wrap: wrap;
  }
  .sub-dister > .col-sm-3{
    width: 50%;
  }
  footer img{
    width: 100%;
  }
  footer p{
    font-size: 12px !important;
  }

  .sub-dister .menu-hv:nth-child(3),
  .sub-dister .menu-hv:nth-child(4){
    margin-top: 5%;
  }
  .sub-weather, .sub-ong, .sub-board, .sub-msg{
    display: flex;
    justify-content: space-between;
  }
  .container>.navbar-header{
    margin: 0 !important;
  }
}

@media(max-width: 640px){

  #product__slider > div{
    width: 100%;
  }
  #product__slider .col-sm-3{
    width: 100%;
  }
  .main--section--2{
    padding: 0 24px;
  }
  .main-right > .tab-content > .tab-pane{
    height: 411px;
  }
  #product__slider{
    flex-direction: column-reverse;
  }
  .safe-3{
    margin-top: 30px !important;
  }
  .safe-2{
    margin: 30px 0 !important;
  }
}

@media(min-width: 320px){
  #product  .main-tabs .col-sm-1{
    width: 2% !important;
  }
  .col-sm-1{
    width: 2%;
  }
  .col-sm-2{
    width: 16.6667%;
  }
  .col-sm-3{
    width: 25%;
  }
  .col-sm-5{
    width: 41.66666667%;
  }
  .col-sm-6{
    width: 50%;
  }
  .col-sm-7{
    width: 58.3333%;
  }
  .col-sm-12{
    width: 100%;
  }
  .col-md-4{
    width: 33.3333% !important;
  }
}

#tab5 .rainy-map .more{
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 999;
  color: #fff;
}

#tab6 .snowy-map .more{
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 999;
  color: #fff;
}

.tab-btn li{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0 !important;
}
.tab-btn li:nth-child(1), .tab-btn li:nth-child(5){
  border-left: none;
}
.tab-btn li:nth-child(n+5):nth-child(-n+10){
  border-bottom: none;
}

.tab-btn li.active{
  border-color: #0e6efe;
}

.hover-bg{
  display: none;
  position: fixed;
  z-index: 155;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.dropdown-menu.megamenu.row{
  font-size: 14px !important;
}


/* 메인슬라이드 동영상부분 버튼 추가 */
.video-slider-btn.left-side {
  position: absolute;
  bottom: 100px;
  left: 4%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}
.video-slider-btn.right-side {
  position: absolute;
  bottom: 100px;
  right: 4%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}
.video__slider-main button {
  font-family: 'xeicon';
  color: #fff;
}
.video__slider-main button {
  position: absolute;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  bottom: 5px;
}
.video-slider-btn {
  border: none;
  display: inline-block;
  color: #fff !important;
  font-size: 20px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  z-index: 99999;
  opacity: .7;
  transition: all 350ms ease-in-out;
}
[class*=" xi-"], [class^=xi-] {
  font-family: xeicon !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.owl-nav{
  font-size: 2em;
  line-height: 1;
  color: #fff;
  position: relative;
  top: -60px;
}
.owl-nav > button {
  padding: 5px 15px 10px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.owl-carousel .owl-prev{
  position: absolute;
  top: 0;
  left: 15px;
  outline: none;
}
.owl-carousel .owl-next{
  position: absolute;
  top: 0;
  right: 15px;
  outline: none;
}

/* 1032줄 height값 185px로 변경 */
/* 1038줄~1043줄 추가되는 영역 확인해주세요 */
/* 1040줄 height값 58% -> 75%로 변경 */
/* 1151~1157줄 추가되는 영역 확인해주세요. */
/* 1642~1648 줄 css 정의가 달라집니다. */

@media(max-width:767px) and (min-width: 641px){
  .video-slider-btn.left-side{
    bottom: 0 !important;
  }
  .video-slider-btn.right-side{
    bottom: 0 !important;
  }
  .owl-nav{
    top: -45px;
  }
  .owl-nav > button{
    padding: 0px 10px 5px !important;
  }
  .map-wrapper > .event-over-more{
    bottom: 35px;
  }
}
.logoBanner{
  /* width: 100%; */
  overflow: hidden;
}
.slide{
  width: 20% !important;
  height: 40px;
}

.logoBanner .owl-stage-outer{
  height: 40px;
}
.logoBanner .owl-stage{
  height: 40px;
}

.logoBanner .owl-item{
  float: left;
}
.logoBanner .cloned{
  height: 40px;
}

.logoBanner button{
  background: rgba(0, 0, 0, 0) !important;
  color: #000;
}
.logoBanner .owl-prev{
  right: 60px;
  top: 15px;
}
.logoBanner .owl-next{
  right: 0px;
  top: 15px;
}
.owl-pause{
  position: absolute;
  top: 8px;
  right: 42px;
}
.owl-pause button{
  background: transparent;
  border: none;
}